* {
  margin: 0;
  padding: 0;
}

.tac {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48pt;
}